body {
    background-color: #121212;
}

#img_button {
    text-decoration: none;
    margin-top: 10px;
    margin-left: 1300px;
    color: white;
}

#img_button:hover {
    text-decoration: underline;
}

#adv_button {
    text-decoration: none;
    float: right;
    color: white;
}

#adv_button:hover {
    text-decoration: underline;
}

#search_button {
    text-decoration: none;
    float: right;
    color: white;
}

#search_button:hover {
    text-decoration: underline;
}

#search {
    margin-top: 15%;
    text-align: center;
}

#img {
    margin-top: 15%;
    margin-right: 4px;
    text-align: center;
}

#adv {
}